* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inicio h2 {
    color: white;
     font-size: 32px;
    margin-bottom: 20px;
}

body {
    background-color: white;
    color: #f3eedd;
    font-family: Arial, sans-serif;
    margin: 0;
}
header {
    background-color: #b0b3f7;
    border-bottom: 2px solid #000000;
    padding: 15px 20px;
   
}

section {
    background-color: #f5f2e8;
    color: #1f1c6b;
    padding: 40px;
    border-bottom: 1px solid #000000;
}

button {
    background-color: #f4b400;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#inicio {
    padding: 0;
}

#inicio p {
    font-size: 18px;
    color: #bfb9a8;
}


button {
    background-color: #f4b400;
    color: black;
    padding: 14px 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 15px;
}

button:hover {
    background-color: #ffcc00;
}

.menu-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    border-radius: 20px;
    width: 330px;
    height: 320px;
     border: 1px solid black;
     background-size: cover;
     background-position: center;
     overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 4px 10px #999;
}

.card-contenido {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 25px;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-separacion {
    background-image: url("../img/SeparaciónMateriales.png");
}

.card-reduccion {
    background-image: url("../img/ReducciónResiduos.png");
}

.card-transporte {
    background-image: url("../img/TransporteResiduos.png");
}

.card-reciclaje {
    background-image: url("../img/ReciclajeSímbolo.png");
}

.card:hover {
    transform: scale(1.05);
    border-color: #f4b400;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.card h3 {
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
}

.card p {
    font-size: 20px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.btn-wsp:hover {
    background-color: #c94c28;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transform: scale(1.05);
}

#ubicacion {
    text-align: center;
    padding: 40px 20px;
}

#ubicacion p {
    margin-top: 10px;
    line-height: 1.6;
    color: #000000;
}

#ubicacion h2 {
    color: #000000;
    margin-bottom: 20px;
}

#ubicacion h3 {
    margin-top: 20px;
    color: #000000;
}


#contacto a {
    color: #241f75;
    text-decoration: none;
    font-weight: bold;
}


#contacto a:hover {
    color: #f0b429;
    text-decoration: underline;
}

#contacto p {
    color: #241f75;
}

#contacto h2 {
    color: #000000;
    margin-bottom: 20px;
}

#contacto .contacto-links {
    margin-top: 15px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

#contacto .contacto-links a {
    display: inline-block;
    background-color:  #ff4a22;
    color: #000000;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#contacto .contacto-links a:hover {
    background-color: #f0b429;
    transform: scale(1.05);
}


#contacto {
    text-align: center;
}


#menu {
    text-align: center;
}

.menu-container {
    justify-content: center;
}

.menu-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#menu h2 {
    margin-bottom: 30px;
    color:#000000
}

.navbar h1 {
    margin: 0;
    font-size: 45px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #f4b400;
    transition: 0.5s;
}

 .hero{
    height: 70vh;

    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url("../img/LOGODEFINITIVO.png");

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex; 
    justify-content: center; 
    align-items: center; 

}

.overlay{
    background-color: rgba(0,0,0,0.45);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;

    padding: 20px;
}

.overlay h2{
    color: white;
    font-size: 60px; 
    max-width: 800px;
    margin-bottom: 20px;
}

.overlay p{
    font-size: 25px;
    margin-bottom: 30px;

}

.info {
    background-color: #f3f1e8;
    padding: 70px 20px;
    text-align: center;
}

.info h2{
    color: #26351f;
    font-size: 36px;
    margin-bottom: 40px;
}

.contenedor-info {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.info-card {
    background-color: #ffffff;
    width: 300px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-top: 6px solid #b0b3f7;
    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.info-card h3 {
    color: #000000;
    margin-bottom: 15px;
    font-size: 22px; 
}

.info-card {
    color: #444;
    font-size: 17px;
    line-height: 1.5;
}

footer {
    background-color: #b0b3f7;
}

@media (max-width: 768px) {

   .hero {
        height: 60vh;
    }

   .overlay h2 {
        font-size: 28px;
    }

    .overlay p {
        font-size: 16px;
    }

    .navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    padding: 0;
    margin: 0;
}

    .navbar li {
        list-style: none;
    }

    .navbar a {
        font-size: 18px;
    }

    #inicio {
        padding: 0;
    }

    #inicio p {
        font-size: 16px;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

}